@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --accent-clr: #1D9AAC;
}

*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
  /* background-color: #f2f2f2; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration:none;
}

img {
  width: 100%;
}