@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --accent-dark: #125f6b;
  --accent-clr: #1D9AAC;
  --accent-light: #88dfeb;
  --background-clr: #F7F7F7;
  --box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --border: 1px solid silver;
}

*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration:none;
}

img {
  width: 100%;
}

input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

input:disabled {
  cursor: not-allowed;
}

:focus {
  outline: none;
}

.mb-10 {
  margin-bottom: 5rem;
}

.body-container {
  max-width: 1170px;
  margin: auto;
}

.extra-margin {
  margin: 5rem auto;
}


@media (min-width: 568px) {
  .mb-10 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 768px) {
  .extra-margin{
    margin: 13rem auto;
  }
  .body-margin {
    margin: 1.5rem;
  }
}